In [103]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
from scipy.stats import f
from oneWayAnova import oneWayAnova

%matplotlib inline

In [104]:
df = pd.read_csv("AOVData.csv")
df.head()

   Atlanta  Georgia  Houston  Memphis  NewYork  Philadephia
0    13.75    14.25    14.00    15.00    14.50        13.50
1    13.75    13.00    14.00    14.00    14.00        12.25
2    13.50    12.75    13.51    13.75    14.00        12.25
3    13.50    12.50    13.50    13.59    13.90        12.00
4    13.00    12.50    13.50    13.25    13.75        12.00

In [105]:
print(oneWayAnova.__doc__)

The function Conducts Test for One Way Anova

    Args:
        df (pd.DataFrame): Give the dataframe containing values of any numnber of columns

    Returns:
        None : Returns None
        Prints various parameters and satistical values with Hypothesis Inference

In [106]:
oneWayAnova(df)

Total number of Data Points --> n = 54
Total number of Columns/Groups --> c = 6
--------------------------------------------------
Mean of Data : 13.0067
--------------------------------------------------
Sum of total squares SST = Σ(Xij - XG)^2           = 32.7038
Sum of squares Among Group SSTR = Σ nj (X̅j - XG)^2 = 10.9457
Sum of squares Across Groups SSE = Σ(X̅ij - Xj)^2   = 21.7581
--------------------------------------------------
MSTR = SSTR/(c-1)           = 2.1891
MSE = SSE/(n-c) = 0.4533
--------------------------------------------------
F_Statistic = MSTR/MSE = 4.8294
P_Value................= 0.0012
----------------------------------------------------------------------------------------------------
HENCE, We Reject Null Hypothesis------> atleast one set of means NOT Equal
----------------------------------------------------------------------------------------------------